/* Makes the background Blue and makes a padding along the edges */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: lightblue;
    margin: 0;
    padding: 10px;
}

/* Styles the clock  */
.clock{
    width: min(500px, 80vw);
    height: min(500px, 80vw);
    border: max(8px, 2vw) solid black;
    border-radius: 50%;
    background-color: white;
    position: relative;
    box-shadow: 0 0 20px black
}

/* Style the 1 markings on the clock that is the 3 oclock rectangle*/

.marking-one{
    width: 5%;
    height: 8%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the 2 markings on the clock that is the 6 oclock rectangle*/

.marking-two{
    width: 8%;
    height: 5%;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

/* Style the 3 markings on the clock that is the 9 oclock rectangle*/

.marking-three{
    width: 5%;
    height: 8%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style the 4 markings on the clock that is the 12 oclock rectangle*/

.marking-four{
    width: 8%;
    height: 5%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

/* Creates the small black center dot of the clock, which serves as the middel point for the pointers */

.clock::after{
    content: ' ';
    width: 3%;
    height: 3%;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
}

/* Styles the pointers of the clock */

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translatex(-50%);
    background-color: black;
    border-radius: 10px;
}

/* Styles the hour pointer of the clock */

.hour-hand {
    width: 1.6%;
    height: 20%;
    background-color: black;
    z-index: 3;
}

/* Styles the minute pointer of the clock */

.min-hand {
    width: 0.8%;
    height: 28%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

/* Styles the second pointer of the clock */

.second-hand {
    width: 0.4%;
    height: 34%;
    background-color: red;
    z-index: 1;
}
